Compile Commands:
  Add:
    -Ifuri/
  	-Iapplications/services/
  	-Iapplications/main/
  	-Itargets/furi_hal_include/
  	-Itargets/f7/ble_glue/
  	-Itargets/f7/fatfs/
  	-Itargets/f7/furi_hal/
  	-Itargets/f7/inc/
  	-I.
  	-Ilib/
  	-Ibuild/f7-firmware-D/assets/compiled/
  	-Ilib/mlib/
  	-Ilib/cmsis_core/
  	-Ilib/stm32wb_cmsis/Include/
  	-Ilib/stm32wb_hal/Inc/
  	-Ilib/stm32wb_copro/wpan/
  	-Ilib/drivers/
  	-Ilib/FreeRTOS-Kernel/include/
  	-Ilib/FreeRTOS-Kernel/portable/GCC/ARM_CM4F/
  	-Ilib/FreeRTOS-glue/
  	-Ilib/microtar/src/
  	-Ilib/mbedtls/include/
  	-Ilib/toolbox/
  	-Ilib/libusb_stm32/inc/
  	-Ilib/drivers/
  	-Ilib/flipper_format/
  	-Ilib/one_wire/
  	-Ilib/ibutton/
  	-Ilib/infrared/encoder_decoder/
  	-Ilib/infrared/worker/
  	-Ilib/subghz/
  	-Ilib/nfc/
  	-Ilib/digital_signal/
  	-Ilib/pulse_reader/
  	-Ilib/signal_reader/
  	-Ilib/u8g2/
  	-Ilib/lfrfid/
  	-Ilib/flipper_application/
  	-Ilib/music_worker/
  	-Ilib/mjs/
  	-Ilib/nanopb/
  	-Ilib/heatshrink/
  	-Ilib/ble_profile/
  	-Ilib/bit_lib/
  	-Ilib/datetime/



